
body {
    background-image: url('./img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 70px;
}
.listeArticle
{
    display: flex;
    margin :20%;
    align-items: center;
    justify-content: space-around;
}


.card.infosArticle{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    margin: 10px;
}

.card.infosArticle:hover{

    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.infosArticle
{
    display: flex;
    justify-content: center;
}

.add{
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.add:hover{
    transform: scale(1.5);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

form
{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.error{
    display: flex;
    align-content: center;
}

footer{
    margin-top: 25%;
    position: absolute;
    bottom: 0;
    padding-top:50px;

    height:50px;

}

